.slackJobsComponent {
  width: 90%;

  @media only screen and (min-width: 1920px) {
    width: 1600px;
  }

  &__error {
    &--active {
      color: #e21565;
    }
  }

  &__jobs-empty {
    color: $medium-grey;
    font-weight: 900;
    margin: 15% auto;
    text-align: center;
    font-size: 17px;
  }

  &__loading {
    margin: 0 auto;
  }
}
