@mixin SimpleContainerMixin() {
  -webkit-box-shadow: 0 4px 18px 8px $light-grey;
  -moz-box-shadow: 0 4px 18px 8px $light-grey;
  box-shadow: 0 4px 18px 8px $light-grey;
  padding: 20px;
  border: 1px solid $darker-white;
  background: $white;

  @content;
}
