$white: #ffffff;
$black: #000000;
$darker-white: #f9f9f9;
$grey: #333647;
$light-grey: #ebebeb;
$medium-grey: #cdcfd1;
$slack-grey: #3d444c;
$purple-dark: #323232;
$purple: #3f46ad;
$orange: #eeb626;
$red: #e21565;
$button-purple-text: #5533ff;
$button-purple-back: #401aff;
$slack-button-purple: #1c299d;
$slack-green: #3bb88b;
$slack-bordo: #573752;
$beige: #f1f1f1;

